node_modules/
dist/
*.log
.DS_Store
referencia_landing_page.png
referencia_carga_datos.png
ventana_cargardatos_seleccionado.png
ventana_cargardatos.png
vista_repositorio.png
vista_repositorio_archivos_historicos.png
referencia_plantillapersonalizada.png
menu_hamburguesa_inclinado.png
rework_cargas_recientes.png
referencia_auditoria.png
auditoria_login_filtro.png
auditoria_metas.png
Indicadores Educación Continua - 2023 a 2026.xlsx
referencia_login.png
referencia_dasboard_E_C.png
error_test_grid.png
Especificaciones y requerimientos de los endpoints de indicadores.docx
Especificaciones.txt
texto_blanco.png
cambios_autenticacion_jwt.md
Gemini.md
UI_Kit.pdf